<section
  id="model-3"
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black">
  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">
        Model 3
      </h2>
      <p class="text-black text-sm">
        Starting at $32,740
      </p>
      <p class="text-black text-sm">
        After Federal Tax Credit
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-4 flex mx-auto">
        <a 
          class="border-[3px] border-white bg-white text-sm rounded font-medium
          text-black px-20 py-2 inline-block hover:border-black hover:bg-black hover:text-white transition-colors"
          href="#">
          Explore Inventory
        </a>
        <a 
          class="border-[3px] border-opacity-5 border-black bg-black/60 backdrop-blur-sm text-sm rounded font-medium
          text-white px-20 py-2 inline-block hover:border-black hover:bg-black hover:text-white transition-colors"
          href="#">
          Custom order
        </a>
      </div>
    </footer>

  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img 
      src="/model-3.avif"
      alt="Model 3"
      class="h-full w-full object-cover object-center">
  </div>
</section>